body {
    background-image: url(https://w.forfun.com/fetch/a7/a79c152c83d5036636e512f031cf15cb.jpeg?w=1470&r=0.5625) ;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 10%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
}
h3, h4 {
    font-weight: bold;
}

.container {
    color: rgb(3, 57, 24);
}

.card-body {
    background-color: rgb(255, 255, 255);
}

.card-header {
    background-color: rgb(226, 231, 232);
}

